.about-main{
    padding:0 15px;
    margin-bottom: 30px;
}
.about-page{
    /* margin-bottom: 40px; */
}
.about-title{
    font-size: 20px;
    color: #222;
    margin-bottom: 1.5rem;
}
.about-title::before{
    content: "#";
    color: #eb5055;
    margin-right: 10px;
}
.about-intro{
    margin: 10px 20px 0;
    position: relative;
}
.about-date{
    color: tomato;
}
.about-time-date{
    background-color: #ffffff;
    padding: 2px 5px;
    margin-right: 5px;
    color: #eb5055;
    border-radius: 2px;
    display: inline-block;
}
/* 时间轴 */
.about-timeline{
    padding: 0;
    padding-left: 10px;
}
.about-timeline::before{
    background-color: #505050;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 0.68rem;
    width: 2px;
    height: 100%;
}
.about-timeline-event{
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.about-timeline-event:hover .about-timeline-event-icon{
    transform:rotate(90deg);
}
.about-timeline-event-icon{
    transform: rotate(45deg);
    background-color: #505050;
    outline: 4px solid white;
    display: block;
    margin: 0.5rem 0.5rem 0.5rem -0.5rem;
    position: absolute;
    top: -0.1rem;
    left: 0.275rem;
    width: .5rem;
    height: .5rem;
}
.about-timeline-event-des{
    padding:0rem  1rem .9rem 2rem;
}

/* 加载更多 */
.about-load-more{
    background-color: #eb5055;
    color: #ffffff;
    border: none;
    padding: 4px 10px;
    box-shadow: 1px 10px 5px rgba(255,255,255,.1);
    cursor: pointer;
    border-radius: 4px;
}
.about-load-box{
    display: flex;
    justify-content: flex-end;
    margin-right:2.8rem ;
}